<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">SHOPU</a>
    <form class="d-flex">
      <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="getActualCart()">CART <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
    </form>
  </div>
</nav>
<br>
<div class="container ">
  <h2>SHOPU</h2>
  <br>
  <div *ngFor="let item of cart" class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1577401239170-897942555fb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.item.name}}</h5>
      <p class="card-text">{{item.item.description}}</p>
      <p class="card-text">Price: {{item.item.price}}$</p>
      <a href="#" class="btn btn-dark" (click)="addToCart(item);" >AddToCart</a>
      <input type="number" class="form-control shopInput" [(ngModel)]="item.quantity" min="0">
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of actualCart">
            <span class="li "> Name: {{item.item.name}}</span>
            <span class="li "> Quantity:  <input type="number" class="form-control" min="0" [(ngModel)]="item.quantity" (change)="setItemInCart(item); getTotal();"></span>
            <span class="li "> Price:  {{item.item.price}}</span>
            <span class="li "> Total:  {{item.item.price * item.quantity}}$</span>
            <button class="btn btn-danger li" (click)="removeItem(item); getTotal(); getActualCart();">Remove</button>
          </li>
          <li class="list-group-item" > Total {{this.total}} $</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Understood</button>
      </div>
    
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static1" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h5 >Payment Method</h5>
          <div class="form-check">
            <input [(ngModel)]="method" class="form-check-input" value="PAYPAL" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Paypal
            </label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="method" class="form-check-input" value="CREDITCARD" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
            <label class="form-check-label" for="flexRadioDefault2">
              CreditCard
            </label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="method" class="form-check-input" value="CASH" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
            <label class="form-check-label" for="flexRadioDefault2">
              Cash
            </label>
          </div>
        </div>
        <hr/>
        <div class="container ms-" *ngIf="method==='CREDITCARD'">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Card Number</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Expiration Date</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">CVV</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">NAME</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>
        </div>
        <div class="container ms-" *ngIf="method==='PAYPAL'">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Card Number</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Expiration Date</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>
      </div>
      <div class="container ms-" *ngIf="method==='CASH'">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Card Number</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Expiration Date</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        </form>
    </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>