 
.card{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}
.shopInput{
    width: 30%;
    display: inline-block;
    margin-left:10%;
}
a{
    display: inline;
}

li{
    align-content: justify;
    display: flex;
    justify-content: space-between;
}
.li{
    display: inline;
    margin-right:0;
}
